.App-start-game{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Start-light-container{
    width: 200px;
    height: 50px;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Start-light{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
    background: lightgray;
}

.Start-light-red{
    background: red;
}

.Start-light-yellow{
    background:yellow;
}

.Start-light-green{
    background: green;
}

.Start-countdown{
    margin-left: 10px;
    font-size: 45px;
}

