.App-track{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App-status-bar {
    width: 400px;
    height: 30px;
    
    border-bottom: dashed 2px gray;
    position: relative;
    margin: 10px;
}

.App-animate-avitar {
    /* width: 30px;
    height: 30px; */
    position: absolute;
    /* background: maroon;
    border-radius: 50%; */
    top: -15px;
    color: darkblue;
    
    
}