.App-status-bar {
    width: 400px;
    height: 30px;
    background: lightyellow;
    border: solid 1px gray;
    position: relative;
}

.App-animate-avitar {
    width: 30px;
    height: 30px;
    position: absolute;
    background: maroon;
    
}